 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("/static/images/stay_sharp/317024594-01.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 259px;
  margin: 92px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: normal;
  margin: -10px 145px 0 auto;
  padding: 0 15px 0 14px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: normal;
  margin: -27px 231px 0 auto;
  padding: 0 15px 0 14px;
}

.u-section-1 .u-table-1 {
  background-image: none;
  width: 1217px;
  margin: 10px auto 60px 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  font-size: 0.875rem;
  font-weight: 600;
}

.u-section-1 .u-table-cell-1 {
  font-weight: 600;
  padding: 0 2px;
}

.u-section-1 .u-table-cell-2 {
  font-weight: 600;
  padding: 0 2px;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 600;
  padding: 0 2px;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 600;
  padding: 0 2px;
}

.u-section-1 .u-table-cell-5 {
  font-weight: 600;
  padding: 0 2px;
}

.u-section-1 .u-table-cell-6 {
  font-weight: 600;
  padding: 0 2px;
}

.u-section-1 .u-table-cell-7 {
  font-weight: 600;
  padding: 0 2px;
}

.u-section-1 .u-table-cell-8 {
  font-weight: 600;
  padding: 0 2px;
}

.u-section-1 .u-table-cell-9 {
  font-weight: 600;
  padding: 0 2px;
}

.u-section-1 .u-table-cell-10 {
  font-weight: 600;
  padding: 0 2px;
}

.u-section-1 .u-table-cell-11 {
  font-weight: 600;
  padding: 0 2px;
}

.u-section-1 .u-table-cell-12 {
  font-weight: 600;
  padding: 0 2px;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-13 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-14 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-15 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-16 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-17 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-18 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-19 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-20 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-21 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-22 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-23 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-24 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-25 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-26 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-27 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-28 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-29 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-30 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-31 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-32 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-33 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-34 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-35 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-36 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-37 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-38 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-39 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-40 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-41 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-42 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-43 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-44 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-45 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-46 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-47 {
  padding: 0 2px;
}

.u-section-1 .u-table-cell-48 {
  padding: 0 2px;
}

.u-block-dcd2-35 {
  background-image: none;
}

.u-block-dcd2-50 {
  height: 46px;
}

.u-block-dcd2-51 {
  padding: 0 2px;
}

.u-block-dcd2-233 {
  padding: 0 2px;
}

.u-block-dcd2-52 {
  padding: 0 2px;
}

.u-block-dcd2-53 {
  padding: 0 2px;
}

.u-block-dcd2-54 {
  padding: 0 2px;
}

.u-block-dcd2-188 {
  padding: 0 2px;
}

.u-block-dcd2-203 {
  padding: 0 2px;
}

.u-block-dcd2-75 {
  padding: 0 2px;
}

.u-block-dcd2-76 {
  padding: 0 2px;
}

.u-block-dcd2-77 {
  padding: 0 2px;
}

.u-block-dcd2-78 {
  padding: 0 2px;
}

.u-block-dcd2-84 {
  padding: 0 2px;
}

@media (max-width: 1399px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-1 {
    width: 411px;
    margin-top: 87px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -9px;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 230px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-table-body-1 {
    font-weight: normal;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 197px;
    margin-top: 85px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -1px;
    margin-right: 144px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 5px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 19px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 95px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 11px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 64px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 18px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 94px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 13px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-right: 141px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-table-1 {
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}